*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.hi
*.hp
*.o
*.orig
*.prof
*.prof.html
*.tix
*~
.*.sw[a-z]
.DS_Store
.cabal-sandbox/
.hpc
.hsenv
.stack-work
.virtualenv
\#*#
cabal-dev
cabal.config
cabal.sandbox.config
dist
